@model Veterinaria.Web.Models.Owner

@{
    ViewBag.Title = "Delete";
}

    <body style="background-image:url(../../Content/img/Interface/Paw_Wallpaper.jpg)">
        <header>
            <div class="container col-8">
                <div class="py-3"></div>
                <div class="card">
                    <div class="card-header bg-dark text-white text-center">
                        <h2>Eliminar?</h2>
                    </div>
                    <div class="py-2"></div>
                    <div class="px-2">
                        <dl class="dl-horizontal">
                        </dl>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Eliminar" class="btn btn-danger" />
                                <a href="@Url.Action("Index","Owners")" class="btn btn-dark">Cancelar</a>
                            </div>
                        }
                        <div class="py-2"></div>
                    </div>
                </div>
            </div>
        </header>
    </body>
